/node_modules
/public/build
/public/hot
/public/storage
/public/css
/public/js
/public/sitemaps
/public/fonts
/public/mix-manifest.json
/public/vendor
/storage/*.key
/vendor
.env
.env.backup
.phpunit.result.cache
docker-compose.override.yml
Homestead.json
Homestead.yaml
npm-debug.log
/.idea
/.vscode
/leafapp.iml

output.xml
output
/tmp/*
