includes:
    - ./vendor/nunomaduro/larastan/extension.neon

parameters:

    paths:
        - app
        - database/factories
        - database/seeders

    level: 9

    ignoreErrors:
    checkMissingIterableValueType: false
