parameters:
	ignoreErrors:
		-
			message: "#^Call to an undefined method GuzzleHttp\\\\Promise\\\\PromiseInterface\\|Illuminate\\\\Http\\\\Client\\\\Response\\:\\:json\\(\\)\\.$#"
			count: 4
			path: app/Services/Autocode/ApiClient.php

		-
			message: "#^Call to an undefined method GuzzleHttp\\\\Promise\\\\PromiseInterface\\|Illuminate\\\\Http\\\\Client\\\\Response\\:\\:status\\(\\)\\.$#"
			count: 1
			path: app/Services/Autocode/ApiClient.php

		-
			message: "#^Call to an undefined method GuzzleHttp\\\\Promise\\\\PromiseInterface\\|Illuminate\\\\Http\\\\Client\\\\Response\\:\\:successful\\(\\)\\.$#"
			count: 1
			path: app/Services/Autocode/ApiClient.php

		-
			message: "#^Call to an undefined method GuzzleHttp\\\\Promise\\\\PromiseInterface\\|Illuminate\\\\Http\\\\Client\\\\Response\\:\\:throw\\(\\)\\.$#"
			count: 10
			path: app/Services/Autocode/ApiClient.php

		-
			message: "#^Call to an undefined method GuzzleHttp\\\\Promise\\\\PromiseInterface\\|Illuminate\\\\Http\\\\Client\\\\Response\\:\\:throw\\(\\)\\.$#"
			count: 3
			path: app/Services/FaceIt/ApiClient.php

		-
			message: "#^Call to an undefined method GuzzleHttp\\\\Promise\\\\PromiseInterface\\|Illuminate\\\\Http\\\\Client\\\\Response\\:\\:throw\\(\\)\\.$#"
			count: 1
			path: app/Services/Tinify/ApiClient.php

		-
			message: "#^Call to an undefined method GuzzleHttp\\\\Promise\\\\PromiseInterface\\|Illuminate\\\\Http\\\\Client\\\\Response\\:\\:json\\(\\)\\.$#"
			count: 1
			path: app/Services/XboxApi/ApiClient.php

		-
			message: "#^Call to an undefined method GuzzleHttp\\\\Promise\\\\PromiseInterface\\|Illuminate\\\\Http\\\\Client\\\\Response\\:\\:successful\\(\\)\\.$#"
			count: 1
			path: app/Services/XboxApi/ApiClient.php
