includes:
    - ./vendor/larastan/larastan/extension.neon

parameters:

    paths:
        - app
        - database/factories
        - database/seeders

    level: 8

    ignoreErrors:
    checkMissingIterableValueType: false
    checkGenericClassInNonGenericObjectType: false
