@import 'variables';

@import '~bulma';
@import '~@fortawesome/fontawesome-free/scss/fontawesome';
@import '~@fortawesome/fontawesome-free/scss/solid';
@import '~@fortawesome/fontawesome-free/scss/brands';
@import '~@creativebulma/bulma-divider';
@import '~@creativebulma/bulma-tooltip';

html {
    height: 100%;
}

body {
    min-height: 100%;
}

td {
    white-space: nowrap;
}

.container {
    width: 100%;
}

.is-greyscale {
    opacity: 0.5;
}

.is-greyscale:hover {
    opacity: 1;
}
