@import 'variables';

@import '~bulma';
@import '~@fortawesome/fontawesome-free/scss/fontawesome';
@import '~@fortawesome/fontawesome-free/scss/solid';
@import '~@fortawesome/fontawesome-free/scss/brands';
@import "~@creativebulma/bulma-divider";

// Custom
@import 'grid';

.container {
    min-height: 100vh;
}
