@import 'variables';

@import '~bulma';
@import '~@fortawesome/fontawesome-free/scss/fontawesome';
@import '~@fortawesome/fontawesome-free/scss/solid';
@import '~@fortawesome/fontawesome-free/scss/brands';
@import '~@creativebulma/bulma-divider';
@import '~@creativebulma/bulma-tooltip';
@import 'bulma-ribbon/src/sass/index';

html {
    height: 100%;
}

body {
    min-height: 100%;
    padding: 0 1rem;
}

picture, img {
    overflow-wrap: break-word;
    overflow: hidden;
}

td {
    white-space: nowrap;
}

.container {
    width: 100%;
}

.is-greyscale {
    opacity: 0.5;
}

.is-greyscale:hover {
    opacity: 1;
}

.is-unranked {
    filter: drop-shadow(16px 16px 20px black) invert(100%);
}
