@import 'variables';

@import 'bulma/bulma';
@import '@creativebulma/bulma-divider';
@import '@creativebulma/bulma-tooltip';
@import 'bulma-ribbon/src/sass/index';

html {
    height: 100%;
}

body {
    min-height: 100%;
    padding: 0 1rem;
}

td {
    white-space: nowrap;
}

.container {
    width: 100%;
}

.is-greyscale {
    opacity: 0.5;
}

.is-greyscale:hover {
    opacity: 1;
}
